<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>First singing with Sinatra</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">First singing</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li <% if request.path['bio'] %> class="active" <% end %>><a href="/bio">Biography</a></li>
            <li <% if request.path['hobby'] %> class="active" <% end %>><a href="/hobby">Hobby</a></li>
            <li <% if request.path['msg'] %> class="active" <% end %>><a href="/msg">Message</a></li>
          </ul>
          <% if user? %>
                <form class="nav navbar-right" method="post" action="/logout">
                <input type="submit" class="btn btn-success" value="Logout">
                <p>Welcome, User</p>
                </form>
          <% else %>
              <form action = "login" method = "post" class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" name="username" placeholder="Login" class="form-control">
                </div>
                <div class="form-group">
                   <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
          <%end%>
        </div>
      </div>
    </div>

    <div class="container">
      <%=yield %>
    </div> 
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
