              <% if @errors.any? %>
              <% @errors.each do |error| %>
                <div class="alert alert-error alert-block">
                  <button type="button" class="close" data-dismiss="alert">x</button>
                  <h4><%= error%></h4>
                </div>
              <% end %>  
              <% end %>

              <p>Before sending a message, you need to write your mail settings to a file main.rb</p>
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <form action="/msg" method="post">
                      <input type="email" name="email" class="form-control" placeholder="Email">
                    <textarea name="text" class="form-control" placeholder="Your message"></textarea>
                    <span class="input-group-lg">
                      <button class="btn btn-default" type="submit">Send message</button>
                    </span>
                    </form>
                  </div>
                </div>
              </div>
